
#id_homePage > .container-fluid
{
	padding:30px 30px 30px 30px;
}

@media screen and (min-width: 1365px) and (max-width: 1370px) {
	#id_homePage>.container-fluid {
		padding: 20px 30px 10px 30px;
	}
}

/* .arrowImg{
	margin-top: -15%;
	width: initial;
	margin-left: -35%;
} */

.roleHeader
{
	padding-left: 22%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.activeRole
{
	background-color:  #17b4e8!important;
	font-weight: bolder;
}
/*
.roleContent > .row > div:nth-child(1)
{
	padding:0;
}

.roleContent > .row > div > div:nth-child(1){
	width: 15%;
    display: inline-block;
} */

.roleContent > .row > div > div:nth-child(1)
{
	width: 100%;
    display: inline-block;
	padding:15px 20px;
	background-color:  #9e9e9e;
    font-size: 20px;
    color:#fff;
    margin-bottom:1px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
   /*  white-space: nowrap; */
}

.roleContent.first > .row > div > div:nth-child(1){
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.roleContent.last > .row > div > div:nth-child(1){
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  overflow: hidden;
  text-overflow: ellipsis;
 /*  white-space: nowrap; */
}

.roleName{
	cursor:pointer;
}

.moduleIcon{
	font-size:400%;
	text-align:center;
	padding:10%;
}


.moduleContent{
	padding: 10px;
	font-size:22px;
	color:#fff;
	/* margin-bottom: 2%; */
	cursor: pointer;
	background-color:#b1bec2;
}

.col-md-6.col-lg-6 > .moduleContent{
	width: 48.5%;
}

.col-md-4.col-lg-4 > .moduleContent{
	/* margin-right: 14px; */
	font-size:16px;
	/* width: 32%; */
}
/*
.moduleContent:nth-child(odd)
{
	background-color: #D7BDE2;
}

.moduleContent:nth-child(even)
{
	background-color: #F5B7B1;
}
 */
.moduleContent > a, .moduleContent > a:hover
{
	color:#fff;
}

.moduleHeader
{
	padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.moduleContainer
{
	overflow: auto;
	height : auto!important;
	border:2px solid #000;
	padding: 15px 0 0 15px!important;
}

.moduleContainer > .row
{
	margin-left:0 !important;
	margin-right: 0 !important;
}

.moduleName{
	font-weight:600;
	padding-bottom:5px;
	text-align: center;
}

.moduleDataContainer
{
	padding-left:0px;
	margin-bottom: 14px;
}

.col-md-4.col-lg-4.moduleDataContainer:nth-child(3n)
{
	/* padding-right:0px; */
}


@media screen and (min-width: 770px)  and (max-width: 1900px) {
	.col-md-6.col-lg-6 > .moduleContent:nth-child(even)
{
	/* margin-left: 3%; */
	/* margin-right: 2px; */
}
}

@media screen and (min-width: 320px) and (max-width: 700px) {
	.col-md-6.col-lg-6 > .moduleContent:nth-child(even)
{
	margin-left: 0%;
	/* margin-right: 2px; */
}

.moduleDataContainer
{
	padding-right:0px;
}
}

@media screen and (min-width: 1800px) {
.col-md-6.col-lg-6 > .moduleContent:nth-child(odd)
{
 /* margin-right: 3%; */

}
}

@media screen and (min-width: 1200px)  and (max-width: 1399px) {
 .arrowImg{
    width: 200%;
    margin-left: -40%;
 }
.roleContent > .row > div:nth-child(1){
	font-size:15px;
}
}

@media screen and (min-width: 1400px)  and (max-width: 1899px) {
    .arrowImg{
	width: 65%;
	margin-left: 30%;
}


.roleContent > .row > div:nth-child(1){
	font-size:17px;
}
}
@media screen and (min-width: 1900px) {
  .arrowImg{
    width: inherit;
}
}
.centerArrowImage{
	display: flex!important;
    align-items: center!important;
    flex-wrap: wrap!important;
}