<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FeedServlet</servlet-name>
        <servlet-class>org.ischeduler.ui.FeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuartzServlet</servlet-name>
        <servlet-class>org.ischeduler.core.QuartzServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobHistoryServlet</servlet-name>
        <servlet-class>org.ischeduler.ui.JobHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploader</servlet-name>
        <servlet-class>org.ischeduler.upload.FileUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateJob</servlet-name>
        <servlet-class>org.ischeduler.core.CreateJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CronChecker</servlet-name>
        <servlet-class>org.ischeduler.core.CronChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobMonitorServlet</servlet-name>
        <servlet-class>org.ischeduler.ui.JobMonitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulerStatusUpdater</servlet-name>
        <servlet-class>org.ischeduler.core.SchedulerStatusUpdater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulerStatusChecker</servlet-name>
        <servlet-class>org.ischeduler.core.SchedulerStatusChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadJobList</servlet-name>
        <servlet-class>org.ischeduler.ui.ReadJobList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedServlet</servlet-name>
        <url-pattern>/FeedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuartzServlet</servlet-name>
        <url-pattern>/QuartzServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobHistoryServlet</servlet-name>
        <url-pattern>/JobHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploader</servlet-name>
        <url-pattern>/FileUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateJob</servlet-name>
        <url-pattern>/CreateJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CronChecker</servlet-name>
        <url-pattern>/CronChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobMonitorServlet</servlet-name>
        <url-pattern>/JobMonitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulerStatusUpdater</servlet-name>
        <url-pattern>/SchedulerStatusUpdater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulerStatusChecker</servlet-name>
        <url-pattern>/SchedulerStatusChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadJobList</servlet-name>
        <url-pattern>/ReadJobList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>joblist.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>AppHome</param-name>
        <param-value>/</param-value>
    </context-param>
    <load-on-startup>1</load-on-startup>
    <listener>
        <listener-class>
  		org.ischeduler.core.SchedulerStatusReset
  	</listener-class>
    </listener>
</web-app>
