/****************Light Theme******************/
.fixedCltr {
	border: 1px solid white !important;
	height: 10% !important;
	padding: 10px !important;
	font-size: 12px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: 600;
	background-color: #499c9c;
	color: rgb(170, 236, 236);
}

.fixedCltrValue {
	text-align: center;
	box-shadow: inset 0 0 5px #356a6a;
	padding: 4px;
	height: -webkit-fill-available;
}

.fixedCltrName {
	padding: 4px;
	text-align: left;
}

.cltrTheme {
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	height: 16%;
	width: 112%;
}

.cltrTheme>div:nth-child(1) {
	/* background-color: rgb(34, 74, 74);; */
	background-color: lightblue;
	/* color: white; */
	color: rgb(34, 74, 74);
	height: 21%;
	text-align: left;
	padding-top: 2%;
	padding-left: 4%;
}

.cltrTheme>div:nth-child(2) {
	/* height: 38%; */
	text-align: center;
	padding: 6% 3% 0% 3%;
	font-size: 17px;
	background-color: lightblue;;
}

.cltrTheme>div:nth-child(2)>span:nth-child(1) {
	color: rgb(34, 74, 74);;
	font-weight: 600;
}

.cltrTheme>div:nth-child(3) {
	padding: 2%;
	text-align: right;
	/* height: 32%; */
	background-color: lightblue;;
}

.cltrTheme>div:nth-child(3)>span:nth-child(2) {
	font-size: 10px;
	margin-left: 15%;
	color: rgb(34, 74, 74);
	padding-right: 4%;
}

.cltrTheme>div:nth-child(3)>span:nth-child(1) {
	font-size: 10px;
	color: rgb(34, 74, 74);
	float: left;
	padding-left: 2%;
}

/************Light Theme Alarm************/
.cltrAlarmTheme {
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	height: 16%;
	width: 112%;
}

.cltrAlarmTheme>div:nth-child(1) {
	/* background-color: rgb(34, 74, 74);; */
	background-color: lightblue;
	color: white;
	height: 21%;
	text-align: left;
	padding-top: 2%;
	padding-left: 4%;
	-webkit-animation: cltrAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrAlarmTheme>div:nth-child(2) {
	/* height: 38%; */
	text-align: center;
	padding: 6% 3% 0% 3%;
	font-size: 17px;
	background-color: #ff6666;
	-webkit-animation: cltrAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrAlarmTheme>div:nth-child(2)>span:nth-child(1) {
	color: white;
	font-weight: 600;
	-webkit-animation: cltrAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrAlarmTheme>div:nth-child(3) {
	padding: 2%;
	text-align: right;
	/* height: 32%; */
	background-color: #ff6666;
	-webkit-animation: cltrAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrAlarmTheme>div:nth-child(3)>span:nth-child(2) {
	font-size: 10px;
	margin-left: 15%;
	color: white;
	padding-right: 4%;
	-webkit-animation: cltrAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrAlarmTheme>div:nth-child(3)>span:nth-child(1) {
	font-size: 10px;
	color: white;
	float: left;
	padding-left: 2%;
	-webkit-animation: cltrAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrAlarmAknowledgeTheme {
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	height: 16%;
	width: 112%;
}

.cltrAlarmAknowledgeTheme>div:nth-child(1) {
	background-color: #ff6666;
	color: white;
	height: 21%;
	text-align: left;
	padding-top: 2%;
	padding-left: 4%;
}

.cltrAlarmAknowledgeTheme>div:nth-child(2) {
	/* height: 35%; */
	text-align: center;
	padding: 6% 3% 0% 3%;
	font-size: 17px;
	background-color: #ff6666;
}

.cltrAlarmAknowledgeTheme>div:nth-child(2)>span:nth-child(1) {
	color: white;
	font-weight: 600;
}

.cltrAlarmAknowledgeTheme>div:nth-child(3) {
	padding: 2%;
	text-align: right;
	/* height: 32%; */
	background-color: #ff6666;
}

.cltrAlarmAknowledgeTheme>div:nth-child(3)>span:nth-child(2) {
	font-size: 10px;
	margin-left: 15%;
	color: white;
	padding-right: 4%;
}

.cltrAlarmAknowledgeTheme>div:nth-child(3)>span:nth-child(1) {
	font-size: 10px;
	color: white;
	float: left;
	padding-left: 2%;
}

/**********Light Theme Aknowledge**********/
.cltrWarningTheme {
	font-size: 12px;
	color: black;
	cursor: pointer;
	height: 16%;
	width: 112%;
}

.cltrWarningTheme>div:nth-child(1) {
	/* background-color: rgb(34, 74, 74);!important; */
	background-color: lightblue;
	color: white;
	height: 21%;
	text-align: left;
	padding-top: 2%;
	padding-left: 4%;
}

.cltrWarningTheme>div:nth-child(2) {
	/* height: 38%; */
	text-align: center;
	padding: 6% 3% 0% 3%;
	font-size: 17px;
	background-color: rgba(253, 244, 67, 0.73);
	-webkit-animation: cltrAknowledgeAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAknowledgeAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAknowledgeAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAknowledgeAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrWarningTheme>div:nth-child(2)>span:nth-child(1) {
	color: black;
	font-weight: 600;
	-webkit-animation: cltrAknowledgeAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAknowledgeAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAknowledgeAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAknowledgeAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrWarningTheme>div:nth-child(3) {
	padding: 2%;
	text-align: right;
	/* height: 32%; */
	background-color: rgba(253, 244, 67, 0.73);
	-webkit-animation: cltrAknowledgeAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAknowledgeAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAknowledgeAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAknowledgeAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrWarningTheme>div:nth-child(3)>span:nth-child(2) {
	font-size: 10px;
	/* margin-left: 15%; */
	color: black;
	padding-right: 4%;
	-webkit-animation: cltrAknowledgeAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAknowledgeAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAknowledgeAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAknowledgeAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrWarningTheme>div:nth-child(3)>span:nth-child(1) {
	font-size: 10px;
	color: black;
	float: left;
	padding-left: 2%;
	-webkit-animation: cltrAknowledgeAnimation 1s infinite; /* Safari 4+ */
	-moz-animation: cltrAknowledgeAnimation 1s infinite; /* Fx 5+ */
	-o-animation: cltrAknowledgeAnimation 1s infinite; /* Opera 12+ */
	animation: cltrAknowledgeAnimation 1s infinite; /* IE 10+, Fx 29+ */
}

.cltrWarningAknowledgeTheme {
	font-size: 12px;
	color: black;
	cursor: pointer;
	height: 16%;
	width: 112%;
}

.cltrWarningAknowledgeTheme>div:nth-child(1) {
	/* background-color: rgb(34, 74, 74);!important; */
	background-color: rgba(253, 244, 67, 0.73);
	color: black;
	height: 21%;
	text-align: left;
	padding-top: 2%;
	padding-left: 4%;
}

.cltrWarningAknowledgeTheme>div:nth-child(2) {
	/* height: 38%; */
	text-align: center;
	padding: 6% 3% 0% 3%;
	font-size: 17px;
	background-color: rgba(253, 244, 67, 0.73);
}

.cltrWarningAknowledgeTheme>div:nth-child(2)>span:nth-child(1) {
	color: black;
	font-weight: 600;
}

.cltrWarningAknowledgeTheme>div:nth-child(3) {
	padding: 2%;
	text-align: right;
	/* height: 32%; */
	background-color: rgba(253, 244, 67, 0.73);
}

.cltrWarningAknowledgeTheme>div:nth-child(3)>span:nth-child(2) {
	font-size: 10px;
	/* margin-left: 15%; */
	color: black;
	padding-right: 4%;
}

.cltrWarningAknowledgeTheme>div:nth-child(3)>span:nth-child(1) {
	font-size: 10px;
	color: black;
	float: left;
	padding-left: 2%;
}

@keyframes cltrAnimation {
0%, 49% {
    background-color: #ff6666;
    color: white;
}
50%, 100% {
    background-color: lightblue;
    color: rgb(34, 74, 74);  
}
}

@keyframes cltrAknowledgeAnimation {
0%, 49% {
    background-color: rgba(253, 244, 67, 0.73);
    color: black;
}
50%, 100% {
    background-color: lightblue;
    color: rgb(34, 74, 74);
}
}

@media screen and (min-width: 1536px) and (max-width: 3840px) {
	.cltrBlock {
		margin-right: 15px !important;
		width: 10% !important;
	}
	_:-ms-fullscreen, :root .cltrBlock {
		margin-right: 19px !important;
		width: 10% !important;
	}
	.fixedCltr {
		height: 9% !important;
	}
	_:-ms-fullscreen, :root .fixedCltr {
		height: 7% !important;
	}
	.cltrTheme, .cltrAlarmTheme, .cltrWarningAknowledgeTheme,
		.cltrAlarmAknowledgeTheme, .cltrWarningTheme {
		width: 120% !important;
		height: 14% !important;
		font-size: 15px !important;
	}
	.cltrTheme>div:nth-child(1), .cltrAlarmTheme>div:nth-child(1),
		.cltrWarningAknowledgeTheme>div:nth-child(1), .cltrAlarmAknowledgeTheme>div:nth-child(1),
		.cltrWarningTheme>div:nth-child(1) {
		height: 16% !important;
	}
	_:-ms-fullscreen, :root .cltrTheme>div:nth-child(1), .cltrAlarmTheme>div:nth-child(1),
		.cltrWarningAknowledgeTheme>div:nth-child(1), .cltrAlarmAknowledgeTheme>div:nth-child(1),
		.cltrWarningTheme>div:nth-child(1) {
		height: 24% !important;
	}
}